<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VetLinker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo VetLinker">
        <h1>VetLinker</h1>
    </header>
    

    <main>
        <section id="pets">
            <!-- Aquí irá el código para mostrar las mascotas y sus detalles -->
        </section>
    </main>
    

    <footer>
        <p>Contacto: contacto@vetlinker.com</p>
    </footer>
    
</body>

</html>
